<!DOCTYPE html>
<html lang="es">

<header class="navbar navbar-expand-md navbar-dark bg-ligth ">
  <a class="navbar-brand" href="#"></a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <div class="col-md-15">
        
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar"
            aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary rounded-right" type="button">
              <i class="bi bi-search"></i>
            </button>
          </div>
        </div>
      </div>

    </ul>
  </div>
</header>

<body>


  <div class="card">
    <div class="card-body">
      <div class="container mt-5">
        <div class="d-flex flex-column align-items-center">
          <button class="btn btn text-white"><a class="btcar1" href="#"></a>BANCA ELECTRONICA</button>
          <button class="btn btn text-white" (click)="navigateToAbout()"><a class="btcar2"
              href="#"></a>PERSONAS</button>
          <button class="btn btn text-white"><a class="btcar3" href="#"></a>EMPRESAS</button>
        </div>
      </div>
    </div>
  </div>


</body>

<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <div class="row">
      <div class="col text-center">

        <button class="btn btn-ligth mx-2"> <a class="bt1" href="#"></a>PERSONAS</button>

        <button class="btn btn-ligth mx-2"> <a class="bt2" href="#"></a>EMPRESAS</button>

        <button class="btn btn-ligth mx-2"><a class="bt3" href="#"></a>MICROFINANZAS</button>

        <button class="btn btn-ligth  mx-2"><a class="bt4" href="#"></a>TARGETA DE CREDITO</button>
      </div>
    </div>
  </div>
</footer>

</html>